@media (max-width: 768px) {
    .cloud-atas {
        width: 100%;
        object-fit: cover;
        position: relative;
        bottom: 100px;
    }
}
.cloud-atas {
    height: auto;
    object-fit: cover;
    z-index: 999;
    position: relative;
    top: 250px;
    width: 100%; /* Ensures full width responsiveness */
}

.cloud-bawah {
    height: auto;
    object-fit: cover;
    z-index: 999;
    position: static;
    bottom: 300px;
    width: 100%; /* Ensures full width responsiveness */
}

@media (max-width: 1103px) {
    .cloud-bawah {
        top: -180px; /* Adjust top positioning for smaller screens */
        margin-top: 50px; /* Reduce margin for smaller screens */
    }
}

@media (max-width: 768px) {
    .cloud-bawah {
        top: -150px; /* Adjust top positioning for smaller screens */
        margin-top: 50px; /* Reduce margin for smaller screens */
    }
}

@media (max-width: 576px) {
    .cloud-bawah {
        top: -100px; /* Further adjust top positioning for very small screens */
        margin-top: 30px; /* Further reduce margin for very small screens */
    }
}

@media (max-width: 1103px) {
    .cloud-atas {
        top: 150px; /* Adjust top positioning for smaller screens */
        margin-top: 50px; /* Reduce margin for smaller screens */
    }
}

@media (max-width: 768px) {
    .cloud-atas {
        top: 150px; /* Adjust top positioning for smaller screens */
        margin-top: 50px; /* Reduce margin for smaller screens */
    }
}

@media (max-width: 576px) {
    .cloud-atas {
        top: 100px; /* Further adjust top positioning for very small screens */
        margin-top: 30px; /* Further reduce margin for very small screens */
    }
}